.vscode/settings.json
piHeatingDB@192.168.10.52.session.sql
.vscode/sftp.json
piPowerTempLog/piPowerTempLog/www/new/
piPowerTempLog/piPowerTempLog/www/new1/
Documents/ardPowerTempLog/KiCad/ardPowerTempLog-backups/
*.dsn
*.kicad_prl
*.net
*.round-tracks-config
*fp-info-cache
*.par
Documents/ardWeatherStation/KiCad/ardWeatherStation-backups/
KiCad/ardPowerTempLog/ardPowerTempLog-backups/
KiCad/ardWeatherStation/ardWeatherStation-backups/
KiCad/piHeatingRPi1/piHeatingRPi1-backups/
KiCad/ardWeatherStation/ardWeatherStation-backups/
KiCad/piHeatingRPi1/piHeatingRPi1-backups/
KiCad/ardPowerTempLog-smd/ardPowerTempLog-backups/
KiCad/ardPowerTempLog-smd/ardPowerTempLog-smd-backups/
