[Unit]
 Description=Read GPIO Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/gpio-watch -s /home/pi/pi-heating-LCD/gpio-scripts -e switch 11 -l /home/pi/pi-heating-LCD/gpio-watch.log > /dev/null2>&1

 [Install]
 WantedBy=multi-user.target
 